.container {
    width: 100vw;
    height: 100vh;
    background:rgb(66, 62, 62);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/Uzui.jpg);  
    background-repeat:repeat-y;  
    background-size:100%;
    overflow-x: hidden;
    }
    .box {
    margin: auto;
    width: 900px;
    background: #fff;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    overflow-x: hidden;
    }
    body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: rgb(156, 156, 156) 1px 1px ;
    background-size: cover ;
    background-repeat: repeat ;
    background-image: url(../img/Uzui.jpg); 
    }
    .imagem{
        border-radius: 20px ;
        border-color: black;
        border-width: 2px;
        border-style: groove;
        }
 